<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <link rel="stylesheet" id="css-main" href="/assets/css/codebase.css">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/media/favicons/favicon-192x192.png">
</head>

<body>
    <header>
        {{#if titlebar}}
            asdfasdf
        {{/if}}
        <div class="header top white">

        </div>
    </header>
    {{{ body }}}
</body>

</html>