a {
  color: #00B7FF;
}

.jumbo.cover {
  height:100vh;
}

#EntryField {
  position: relative;
  top:200px;
  left:240px;
  background: #ffffff !important;
  border-radius: 4px !important;
  padding: 32px !important;
  padding-bottom: 60px !important;
  width: 441px !important;
  box-shadow: 0 16px 40px rgba(0,0,0,0.25) !important;
}