<div class="ui menu">
  <div class="header item">
    Admin
  </div>
  <a class="item" href="/admin/">
    Home
  </a>
  <a class="item" href="/admin/winery">
    Winery
  </a>
  <a class="item" href="/admin/wine">
    Wines
  </a>
  <a class="item" href="/admin/booking">
    Booking
  </a>
  <a class="right item">
    Logout
  </a>
</div>